/* info.css */

.info {
    position:relative;
    background-color: white;
    border: 1px solid #ddd; 
    border-radius: 15px; 
    padding: 15px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    width: 500px; 
    transition: transform 0.2s; 
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}

.info:hover {
    transform: scale(1.05); 
}

.info p {
    margin: 5px 0; 
    color: #333; 
}
.info h2{
    text-align: center;
}



